html {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 1em;

	&.dark-theme {
		background: #131516;
		color: #d8d4cf;

		a {
			color: #3391ff;
		}
	}
}


.site-header, main {
	max-width: 50em;
	margin: 0 auto;
}

pre {
	overflow-x: scroll;
}

.site-nav-list {
	list-style-type: none;
	padding: 0;

	li {
		display: inline;

		&:not(:first-child)::before {
			content: ' | '
		}
	}
}

img {
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-bottom: solid 1px;
}

th {
  padding-bottom: 0.5em;
}

th, td {
  text-align: center;

  &:not(:first-child) {
    border-left: dashed 1px;
  }
}